# Dataset e cartelle pesanti
*.zip
extracted_dataset/
dataset_local/
data/raw/

# Pytorch / Modelli / Checkpoint
checkpoints/
*.pth
*.pt
*best_model*
*latest_checkpoint*

# Immagini / Log / Risultati di Train (Evitano di sporcare github)
training_results/
final_training_results.png
*.png
*.jpg
*.jpeg
*.log

# Python / Ambienti virtuali
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/

# Mac / Windows temp files
.DS_Store
Thumbs.db
